
.section_class{
	padding-right: 30px !important;
	padding-left: 30px !important;
}
p{
	font-size: 16px;
}

#imgIndex {

	 background: url("../img/library1.jpg");
     background-position: center;
     background-attachment: contain;
     background-size: cover;
     max-height: 500px;
}
.parallax-container{
    max-height: 400px;
}

#imgParallax2{
    border-radius: 10px 10px 10px 10px;
    opacity: 0.8;
}


.dropdown-content{
	width: 220px !important;
	
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #f5f5f5  !important;
    background-color: #424242 ;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

#id_logo{
	border-radius: 30px 5px 30px 30px;
    background-color: #ffffff;
}

.navBarTrans{
    background-color: #37474f;
    opacity: 0.98
}

#section_container{
	margin-top: 30px;
}