
#fondoLogin {
	 background: url("../img/fondoLogin1.jpg");
     background-position: center;
     background-attachment: contain;
     background-size: cover;
}


#panelDer{
	background: url("../img/library1.jpg");
	background-position: center;
     background-attachment: contain;
     background-size: cover;
     /*min-height: 200px;*/
}

#logoDer{
	border-radius: 30px 30px 30px 30px;
}

.card-panel{
	opacity: 0.9;
}

#id_logo{
	border-radius: 30px 5px 30px 30px;
    background-color: #ffffff;
    opacity: 0.9;
}

/* label color */
.input-field label {
 color: #616161 !important;
 font-size: 16px !important;
}
/* label underline focus color */
.input-field input[type]:focus {
 border-bottom: 1px solid #00b0ff !important;
}
/* valid color */
.input-field input[type].valid {
 border-bottom: 1px solid #00b0ff !important;
}
/* invalid color */
.input-field input[type].invalid {
 border-bottom: 1px solid #c62828 !important;
}